
# Игнорируем директорию в любой директории проекта
__pycache__/
# Игнорируем каталог в корне рабочей директории
/__pycache__/
# Игнорировать все .txt файлы в каталоге doc/ на всех уровнях вложенности
doc/**/*.txt

